@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Rubik+Puddles&display=swap');
.container{
    text-align: center;
    padding: 10px 0px;
    background-color: #39445a;
    box-shadow: 0 1px 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1.page-title{
    color: #fff;
    font-family: "Montserrat";
    font-size: 4.3rem;
}

.movies-logo{
    font-size: 3.3rem;
}