
.footer-section{
    background: '#2d313a';
    padding: 14px 0px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    gap: 105px;
    position: sticky;
    bottom: 0px;
    /* padding-bottom: 10px; */
}

.footer-element{
    display: block;
    font-size: 1.3rem;
    /* margin-top: 30px; */
    cursor: pointer;
    background-color: #fefefe;
    border-radius: 9px;
    color: #000;
    padding: 7px 0px;
    padding-inline:  15px; ;
    font-weight: 900;
    transition: 1s all;
}

#active{
    
    background: white;
    border-radius: 10px;
}

